@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Lato:ital,wght@1,300&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 60px;
  width: 40px;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hide--postIt {
  position: absolute;
  left: -800px;
}

.posrIt {
  height: 15em;
  width: 25em;
  padding: 10px;
  background-color: #ffc;

  text-align: left;
  /* transform:rotate(-4deg); */
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
  font-size: 18px;
  font-weight: bold;
  color: #4169e1;
}

.shadow-postIt {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

.posrIt > ul {
  padding-left: 5px;
}

.posrIt > ul li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1.2rem;
}

input {
  width: 260px;
  height: 28px;
  border-color: rgb(221, 221, 221);
}

.gap-10 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.no--visible {
  opacity: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
